@import {
  url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

* {
  line-height: 1.6;
  color: white;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0 0 0;
  color: white;
  background-color: black;
  height: 98vh;
  position: relative;
}

nav {
  background-color: rgba(146, 109, 255, 0.8);
  margin: 0.1em 0 0 0;
}

main {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  font-size: 0.5rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid grey;
}

a:hover {
  color: #3a3940;
}

a:active {
  outline: 3px solid grey;
}

/* Standard size button */
button {
  background-color: rgba(54, 0, 207, 1);
  color: white;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.3em 0.5em;
  border-radius: 6px;
  outline: none;
  border: none;
}

button:focus {
  outline: 3px solid #3a3940;
}

button:active {
  background-color: rgba(54, 0, 207, 0.5);
}

input {
  caret-color: white;
  color: white;
}

input[type="text"] {
  border: none;
  border-bottom: 3px white solid;
  background-color: rgba(255, 255, 255, 0); /* Fully opaque */
  font: inherit;
}

input[type="text"]:focus {
  outline: 3px solid grey;
}

label {
  font-size: 1.1em;
  font-weight: lighter;
}

label::first-letter {
  text-transform: capitalize; /* Always capitalized first letter */
}

nav > .nav-buttons {
  display: flex;
  justify-content: space-between;
}

section > .learn-pane {
  width: 80%;
  margin: auto;
}

section #translated-phrase {
  margin: 0 auto 1em;
  font-size: 1.2em;
  color: #9d4dff;
  text-align: center;
  height: 4em;
  overflow: auto;
}

section > .learn-pane .input-vertical-container {
  margin: 0.5em 0 1.2em;
}

section > .learn-pane .input-vertical-container > label {
  margin-bottom: 0.5em;
}

#translate-header {
  text-align: center;
  margin: 2em auto;
}

#check-btn {
  margin: auto;
}

#next-btn {
  margin: auto;
}

#result-text {
  margin: 2em auto;
  height: 3em;
  overflow: auto;
}

.nav-btn {
  font-size: 1.3em;
  font-weight: 500;
  width: 25%;
}

.nav-btn:focus {
  color: grey;
  outline: none;
}

.input-vertical-container {
  display: flex;
  flex-flow: column wrap;
  padding: 0 1em;
}
