@import {
  url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

*, *::before, *::after {
  line-height: 1.6;
  color: white;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0 0 0;
  color: white;
  background-color: black;
  height: 98vh;
  position: relative;
}

nav {
  background-color: rgba(146, 109, 255, 0.8);
  margin: 0.1em 0 0 0;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

footer {
  text-align: center;
  width: 100vw;
  font-size: 0.5rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid grey;
}

a:hover {
  color: #3a3940;
}

a:active {
  outline: 3px solid grey;
}

/* Standard size button */
button {
  background-color: rgba(54, 0, 207, 1);
  color: white;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.3em 0.5em;
  border-radius: 6px;
  outline: none;
  border: none;
  transition: background-color 0.5s linear;
}

button:focus {
  outline: 3px solid #3a3940;
}

button:active {
  background-color: rgba(54, 0, 207, 0.5);
}

button:hover {
  background-color: rgba(54, 0, 207, 0.8)
}
input {
  caret-color: white;
  color: white;
}

input:focus {
  outline: 3px solid grey;
}

input[type="text"], input[type="search"] {
  border: none;
  border-bottom: 3px white solid;
  background-color: rgba(255, 255, 255, 0); /* Fully opaque */
  font: inherit;
}

input[type="search"] {

}

input[type="search"]::placeholder {
  color: #d1d1d1;
}

label {
  font-size: 1.1em;
  font-weight: lighter;
}

label::first-letter {
  text-transform: capitalize; /* Always capitalized first letter */
}

nav > .nav {
  display: flex;
  align-items: stretch;
  gap: 0.5em;
  padding: 0.5em 0.4em 0.5em;
  margin-bottom: 1em;
}

nav > .nav > .nav-btn {
  font-size: 1.3em;
  font-weight: 500;
  flex-grow: 3;
  flex-shrink: 3;
}

.nav > .nav-btn:focus {
  color: grey;
  outline: none;
}

nav form {
  flex-grow: 3;
  flex-shrink: 3;
}

section > .pane {
  width: 80%;
  margin: auto;
}

section > .learn-pane {

}

section > .learn-pane > .btns-container {
  display: flex;
  justify-content: space-around;
}

section #translated-phrase {
  margin: 0 auto 1em;
  font-size: 1.2em;
  color: inherit;
  font-weight: bold;
  text-align: center;
  height: 4em;
  overflow: auto;
}

section > .learn-pane .input-vertical-container {
  margin: 0.5em 0 1.2em;
}

section > .learn-pane .input-vertical-container > label {
  margin-bottom: 0.5em;
}

#search {
  margin: 0;
  padding: 0;
  line-height: inherit;
  position: relative;
}

#search > * {
  height: 100%;
}

#search input {
  width: 80%;
}

#search > button {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  transition:
}

#search > button:hover {
  cursor: pointer;
  color: gray;
}

#translate-header {
  text-align: center;
  margin: 2em auto;
}

#check-btn {

}

#next-btn {

}

#result-text {
  margin: 5em auto 1em;
  height: 5em;
  overflow: auto;
  text-align: center;
  font-size: 1.2em;
}

.quick-access {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 1em 2em;
}

.phrases-list {
  padding-inline-start: 0;
  height: 70vh;
  overflow-y: auto;
}

.phrases-list > li {

  border: 3px solid grey;

  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.3em;

}

.phrases-list button {
  width: 20%;
}

.phrases-list > li:hover {
  background: #303030;
  cursor: pointer;
}

.phrases-list .list-header {
  font-weight: bold;
  border-radius: 100em; /* circular border */
  text-align: center;
  background: grey;
  width: 2.5em;
}
.phrases-list > li > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 0.6em;
  font-size: 1.1em;
}

.phrases-list > li > div {
  width: 50%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phrases-list > li > div > button {

}

.input-vertical-container {
  display: flex;
  flex-flow: column wrap;
  padding: 0 1em;
}

.dialog {
  font-size: 1.2em;
  border: 3px solid grey;
  border-radius: 3px;
  min-height: 5%;
  z-index: 999;
  padding: 5px;
  background: black;
  position: fixed;
  /* Center horizontally in fixed position */
  left: 50%;
  transform: translateX(-50%);
  top: 5em;
}

.input-vertical-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em;
  gap: 5px;
  width: 75vw;
}

.dialog > .dialog-close-btn {
  position: absolute;
  right: 0;
}

/* Element with no content. Serves only as a separator */
.dialog > .dialog-btn-separator {
  margin-bottom: 2.5em;
}

.dialog > .dialog-bottom-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.dialog .dialog-cancel-btn {

}

.dialog .dialog-confirm-btn {

}

.active-nav-btn {
  color: grey;
}

.feedback-incorrect {
  color: red;
  font-weight: bold;
}

.phrases-list {

}

#toast {
  transition: transform 220ms ease-out;
  transform: scale(0);
}

.toast-shown {
  transform: scale(1);
}
